// modules/_large-hero.scss
@use '../base/variables' as v; // Step up out of 'modules' into 'base'
@use '../base/mixins';  // Step up out of 'modules' into 'base'

.large-hero{
    border-bottom: 10px solid v.$mainBlue;
    display: grid;
    grid-template-columns: 1fr;
    
    &__image {
        display: block;
    }

    &__text-content {
        padding-top: 60px;
        text-align: center; 
    }

    &__title {
        //--All Screens mobile first base
        font-weight: 300;
        color: v.$mainBlue;
        font-size: 2.4rem;
        margin: 0;
       @include mixins.atSmall {
             font-size: 4.8rem;
        }


    }

    &__subtitle {
        font-weight: 300;
        color: v.$mainBlue;
        font-size: 1.5rem;
        margin: 0;
        @include mixins.atSmall{
             font-size: 2.9rem;
        }                    
    }  
    
    &__description {
       color: #fff;
       font-size: 1.1rem;
       font-weight: 100;
       text-shadow: 2px 2px 0 rgba(0,0,0, .1);
       max-width: 30rem;
       margin-left: auto;
       margin-right: auto;
       @include mixins.atSmall{
             font-size: 1.875rem;
        }
    }
}

