@use '../base/variables' as v; // Step up out of 'modules' into 'base'
@use '../base/mixins';  // Step up out of 'modules' into 'base'

.primary-nav{

    &__pull-right {

        float: right;

    }

    ul {

        margin: 0;
        padding: 0;
        @include clearfix;

    }

    li {

        list-style:none;
        float: right;
        @include set-theme($text-color:#fff);
    }
}
