@use '../base/variables' as v; // Step up out of 'modules' into 'base'
@use '../base/mixins';  // Step up out of 'modules' into 'base'
.reveal-item{
    opacity:0;
    transition: opacity 1.5s ease-out;
    
    &__is-visible {
       opacity: 1; 
    }

}