@use '../base/variables' as v; // Step up out of 'modules' into 'base'
@use '../base/mixins';  // Step up out of 'modules' into 'base'

.generic-content-container {

    p {
      

        line-height: 1.65;
        margin: .5rem;
        font-size: .78rem;
        @include mixins.atSmall{   

           font-size: .80rem;
        }

    

    }

    p a{

        font-weight: 700;
    }

}